ion-side-menus(enable-menu-with-back-views="false")
  ion-side-menu-content
    ion-nav-bar.bar-calm
      ion-nav-back-button Back
      ion-nav-buttons(side="left")
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="left") 
      
      ion-nav-title 🔥KoonicStarter
    
    ion-nav-view(animation="slide-left-right" name="menu_content")
      //- view contents gets loaded here

  ion-side-menu(side="left")
    ion-nav-view
      .list
        .item
          | Home
