doctype html
html
  head
    meta(charset="utf-8")
    meta(content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport")
    title 🔥KoonicStarter

    link(href="css/ionic.app.min.css" rel="stylesheet")
    
    // ionic/angularjs js
    script(src="lib/ionic/js/ionic.bundle.js")
    script(src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js")

    // cordova script (this will be a 404 during development)
    // script(src="cordova.js")
    
    // your app's js
    script(src="js/application.min.js")
        
  body(ng-app="ionic_starter")
    ion-nav-view
